# Logs
*.log
.dccache
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.cache
*.local

cypress/screenshots/
cypress/videos/
dist
dist-ssr
dist-web
node_modules
storybook-static

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
