@import 'mixins';

:root {
	color-scheme: light dark;

	line-height: 1.5;
	font-size: 16px;
	font-synthesis: none;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-primary: #6a5acd;
	--color-primary-hover: #5447ae;

	--color-secondary: #708090;

	--color-black: #000;
	--color-white: #fff;

	--color-backbround: #fff;
	--color-link: #646cff;
	--color-link-hover: #535bf2;
	--color-text: #333;

	--font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@include darkmode {
	:root {
		--color-background: #242424;
		--color-link-hover: #747bff;
		--color-text: #fff;
	}
}
